<.header>
  Post <%= @post.id %>
  <:subtitle>This is a post record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/post/#{@post}/edit"}>
      <.button>Edit post</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @post.title %></:item>
  <:item title="Content"><%= @post.content %></:item>
  <:item title="Image"><%= @post.image %></:item>
</.list>

<.back navigate={~p"/post"}>Back to post</.back>
